<div>
  <h1 class="font-bold text-4xl">Sign in</h1>
  <%# locals: (user_session_form:) -%>
  <%= form_with(model: user_session_form, url: users_session_path) do |form| %>
    <div>
      <div class="mb-4">
        <%= form.label :email %>
        <%= form.email_field :email %>
      </div>

      <div class="mb-6">
        <%= form.label :password %>
        <%= form.password_field :password %>
      </div>

      <div class="flex items-center justify-between">
        <%= form.submit "Sign in" %>
      </div>
    </div>
  <% end %>
</div>
