<div class="basis-2/12 pr-2 py-1 font-bold">
  <%= history.author %>
</div>

<div class="basis-1/12 pr-2">
  <%= history.action %>
</div>

<div class="basis-1/12 pr-2">
  <%= history.trackable_type %>
</div>

<div class="basis-8/12 pr-2">
  <%= history.tracked_field %>

  to <%= history.tracked_value %>
</div>
